{% extends 'chat/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <content class="block max-w-3xl mx-auto md:p-12">
        <div class="bg-white rounded-2xl md:drop-shadow-2xl shadow-black w-full p-8">
            <h1>New Group Chat</h1>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.groupchat_name.label }} {{ form.groupchat_name }}
                </div>
                <div>
                    {{ form.team.label }} {{ form.team }}  <!-- Ensure this is included -->
                </div>
                <button class="mt-2" type="submit">Create Group Chat</button>
            </form>
        </div>
    </content>  
{% endblock %}

