{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        #pac-input {
            margin-top: 10px;
            width: 100%;
            padding: 5px;
            font-size: 14px;
            z-index: 1000; /* Ensure it's on top */
            position: relative; /* Make position relative to ensure z-index works */
        }
        
        /* To help with the visibility of autocomplete dropdown */
        .pac-container {
            z-index: 10000 !important; /* Higher z-index to avoid being obscured */
        }
    
        #map {
            height: 230px; /* Adjusted map height */
            width: 100%;
            margin-top: 10px;
        }
    
        /* Modal styling */
        #eventModal .modal-content {
            max-height: 95vh; /* Max height to make it scrollable */
            
        }

    </style>
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow-md sticky top-0 z-10">
        <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
            <a href="{% url 'home' %}" class="text-xl font-bold">LigaMeet</a>
            
            <!-- Primary Nav Links -->
            <div class="flex space-x-4">
                <a href="{% url 'home' %}" class="text-gray-700 hover:text-gray-900">Home</a>
                <a href="{% url 'ligameet-about' %}" class="text-gray-700 hover:text-gray-900">About</a>
            </div>
    
            <!-- User Profile and Chat Dropdown -->
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                    <!-- Chat Dropdown -->
                    <div x-data="{ dropdownOpen: false }" class="relative">
                        <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer text-gray-700 hover:text-gray-900 flex items-center relative">
                            Chat
                            <!-- Red dot badge for unread messages -->
                            {% if has_unread_messages %}
                                <span class="absolute top-0 right-0 inline-flex items-center justify-center w-2 h-2 bg-red-500 rounded-full"></span>
                            {% endif %}
                            
                            <img 
                                :class="dropdownOpen ? 'rotate-180 transform duration-300' : 'rotate-0 transform duration-300'" 
                                class="w-4 ml-1 transition-transform" 
                                src="https://img.icons8.com/small/32/000000/expand-arrow.png" 
                                alt="Dropdown Arrow">
                        </a>
                    
                        <!-- Chat Dropdown Menu -->
                        <div x-show="dropdownOpen" x-cloak class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg z-20">
                            <ul class="py-2">
                                {% for chatroom in user.chat_groups.all %}
                                    {% if chatroom.groupchat_name %}
                                        <li>
                                            <a href="{% url 'chatroom' chatroom.group_name %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                                {{ chatroom.groupchat_name|slice:"30" }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if chatroom.is_private %}
                                        {% for member in chatroom.members.all %}
                                            {% if member != user %}
                                                <li>
                                                    <a href="{% url 'chatroom' chatroom.group_name %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                                                        {{ member.profile.user.username }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% empty %}
                                    <p class="block px-4 py-2 text-gray-700 hover:bg-gray-100">no chats</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    
    
                    <!-- User Profile Link -->
                    <div x-data="{ profileDropdownOpen: false, confirmLogout: false }" class="relative">
                        <a @click="profileDropdownOpen = !profileDropdownOpen" @click.away="profileDropdownOpen = false" class="flex items-center cursor-pointer">
                            {% if user.profile.image %}
                                <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Avatar" class="w-8 h-8 rounded-full mr-2">
                            {% else %}
                                <img src="{% static 'path/to/default/image.jpg' %}" alt="Default Avatar" class="w-8 h-8 rounded-full mr-2">
                            {% endif %}
                            <span class="text-red-700">{{ user.username }}</span>
                            <img 
                                :class="profileDropdownOpen ? 'rotate-180 transform duration-300' : 'rotate-0 transform duration-300'" 
                                class="w-4 ml-1 transition-transform" 
                                src="https://img.icons8.com/small/32/000000/expand-arrow.png" 
                                alt="Dropdown Arrow">
                        </a>
                        
                        <!-- Profile Dropdown Menu -->
                        <div x-show="profileDropdownOpen" x-cloak class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg z-20">
                            <ul class="py-2">
                                <li><a href="{% url 'view-profile' user.username %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">My Profile</a></li>
                                <li><a href="{% url 'profile' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Edit Profile</a></li>
                                <li><a href="{% url 'new-groupchat' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Create GroupChat</a></li>
                                <li><a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Settings</a></li>
                                <li>
                                    <form id="logout-form" method="post" action="{% url 'logout' %}" x-ref="logoutForm" class="w-full">
                                        {% csrf_token %}
                                        <button @click.prevent="confirmLogout = true" type="button" class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100">
                                            Log out
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
    
                        <!-- Logout Confirmation Modal -->
                        <div x-show="confirmLogout" x-cloak class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
                            <div class="bg-white rounded-lg p-6 shadow-lg max-w-sm w-full">
                                <h3 class="text-lg font-semibold mb-4">Confirm Logout</h3>
                                <p class="text-gray-600 mb-6">Are you sure you want to log out?</p>
                                <div class="flex justify-end space-x-4">
                                    <button @click="confirmLogout = false" class="px-4 py-2 text-gray-600 hover:text-gray-800">Cancel</button>
                                    <button @click="$refs.logoutForm.submit()" class="px-4 py-2 text-red-600 hover:text-red-800">Log Out</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Login and Register Links -->
                    <a href="{% url 'login' %}" class="text-gray-700 hover:text-gray-900 mr-4">Login</a>
                    <a href="{% url 'register' %}" class="text-gray-700 hover:text-gray-900">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <messages>
        {% if messages %}
        <div x-data="{ showMessage: false }" >
        {% for message in messages %}
        <div class="absolute left-0 right-0 max-w-xl mx-auto mt-3 px-4 z-50 ">
            <div x-cloak class="alert-{{ message.tags }} flex items-center py-3 pl-6 pr-4 bg-green-500 text-white rounded-lg" role="alert"
            x-show="showMessage" 
            x-init="setTimeout(() => showMessage = true, 200), setTimeout(() => showMessage = false, 6000)"
            x-transition:enter="duration-700 ease-out"
            x-transition:enter-start="opacity-0 -translate-y-5"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="duration-200 ease-in"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 -translate-y-5">
                <div>
                    <div class="text-lg">{{ message }}</div>
                </div>
                <div class="ml-auto cursor-pointer" @click="showMessage = false">
                    <svg fill="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h-8 ml-2">
                        <path d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </div>
            </div> 
        </div>
        {% endfor %}
        </div>
        {% endif %}
    </messages>
    
    <div class="container mx-auto p-6">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold">Event Dashboard</h1>
            <button id="openModalBtn" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                Create Event
            </button>
        </div>

        <div class="grid gap-6 md:grid-cols-[200px,1fr]">
            <div class="space-y-4">
                <div class="space-y-2">
                    <label class="text-sm font-medium">Filter by Status</label>
                    <select class="w-full border border-gray-300 rounded-md py-2 px-3">
                        <option>All</option>
                        <option>Ongoing</option>
                        <option>Finished</option>
                    </select>
                </div>

                <div class="space-y-2">
                    <label class="text-sm font-medium">Filter by Sport</label>
                    <select class="w-full border border-gray-300 rounded-md py-2 px-3">
                        <option>All</option>
                        <option>Basketball</option>
                        <option>Volleyball</option>
                    </select>
                </div>

                <div class="space-y-2">
                    <label class="text-sm font-medium">Search Events</label>
                    <div class="relative">
                        <input type="text" placeholder="Search..." class="w-full border border-gray-300 rounded-md py-2 px-3 pl-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 absolute left-2 top-2.5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>

                <button class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Apply Filters
                </button>
            </div>

            <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                {% for event in organizer_events %}
                    <!-- Event Card -->
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        {% if event.EVENT_IMAGE %}
                            <a href="{% url 'event-details' event.id %}">
                                <img src="{{ event.EVENT_IMAGE.url }}" class="w-full h-48 object-cover" alt="{{ event.EVENT_NAME }}">
                            </a>
                        {% else %}
                            <a href="{% url 'event-details' event.id %}">
                                <img src="/media/event_default.png" class="w-full h-48 object-cover" alt="Default Event Image">
                            </a>
                        {% endif %}
            
                        <div class="p-4">
                            <div class="p-6 space-y-4">
                                <div class="flex justify-between items-start">
                                    <div>
                                        <h2 class="text-2xl font-bold text-gray-800">{{ event.EVENT_NAME }}</h2>
                                        <p class="text-sm text-gray-600">{{ event.EVENT_DATE_START|date:"M. d, Y, g:i A" }} - {{ event.EVENT_DATE_END|date:"M. d, Y, g:i A" }}</p>
                                    </div>
                                    <span class="px-2 py-1 text-xs font-semibold rounded-full 
                                        {% if event.EVENT_STATUS == 'upcoming' %}text-black bg-[#ffc107]{% elif event.EVENT_STATUS == 'open' %}text-white bg-[#007bff]{% elif event.EVENT_STATUS == 'ongoing' %}text-white bg-[#28a745]{% elif event.EVENT_STATUS == 'finished' %}text-white bg-[#6c757d]{% elif event.EVENT_STATUS == 'cancelled' %}text-white bg-[#dc3545]{% endif %}">
                                        {{ event.EVENT_STATUS }}
                                    </span>
                                </div>
                                
                                <div class="flex items-center text-gray-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                    </svg>
                                    <p class="text-sm">{{ event.EVENT_DATE_START|date:"M d, Y" }} - {{ event.EVENT_DATE_END|date:"M d, Y" }}</p>
                                </div>
                                <div class="flex items-center text-gray-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    <p class="text-sm">{{ event.EVENT_LOCATION }}</p>
                                </div>
                                <div class="space-y-2">
                                    <h3 class="text-lg font-semibold text-gray-800 flex items-center">
                                        Sports
                                    </h3>
                                    {% if event.sport_requirements.all %}
                                        {% for requirement in event.sport_requirements.all %}
                                            <div class="flex justify-between items-center bg-gray-100 rounded-md p-2">
                                                <p class="text-sm font-medium">{{ requirement.sport.SPORT_NAME }}</p>
                                                <span class="text-sm bg-blue-500 text-white px-2 py-1 rounded-full">
                                                    0/{{ requirement.players_per_team }} TEAMS
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-sm text-gray-500 italic">No sports requirements associated with this event.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border-t px-4 py-2">
                            <center>
                                {% if event.CONTACT_PERSON %}
                                <p class="text-sm text-gray-600">Organized by: {{ event.CONTACT_PERSON }}</p>
                                {% endif %}
                                <!-- Phone section with centered icon and text -->
                                {% if event.CONTACT_PHONE %}
                                <div class="flex justify-center items-center text-gray-600 mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                                    </svg>
                                    <p class="text-sm">{{ event.CONTACT_PHONE }}</p>
                                </div>
                                {% endif %}
                            </center>
                        </div>
                    </div>
                {% empty %}
                <center><br><br><br>
                    <p>No events found.</p>
                </center>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Create Event Modal -->
    <div id="eventModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden" aria-hidden="true">
        <div class="relative top-5 mx-auto p-5 border w-3/4 max-w-4xl shadow-lg rounded-md bg-white modal-content">
            <div class="mt-3">
                <h3 class="text-lg leading-6 font-medium text-gray-900 text-center">Create New Event</h3>
                <div class="mt-2 px-7 py-3">
                    <form id="eventForm" class="space-y-4">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label for="EVENT_NAME" class="block text-sm font-medium text-gray-700">Event Name</label>
                                <input type="text" id="EVENT_NAME" name="EVENT_NAME" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div>
                                <label for="EVENT_LOCATION" class="block text-sm font-medium text-gray-700">Event Location</label>
                                <input type="text" id="EVENT_LOCATION" name="EVENT_LOCATION" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div>
                                <label for="EVENT_DATE_START" class="block text-sm font-medium text-gray-700">Start Date</label>
                                <input type="datetime-local" id="eventDateStart" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div>
                                <label for="EVENT_DATE_END" class="block text-sm font-medium text-gray-700">End Date</label>
                                <input type="datetime-local" id="eventDateEnd" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div>
                                <label for="SPORT" class="block text-sm font-medium text-gray-700">Sport</label>
                                <select id="SPORT" name="SPORT" multiple required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    {% for sport in sports %}
                                        <option value="{{ sport.id }}">{{ sport.SPORT_NAME }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <label for="EVENT_IMAGE" class="block text-sm font-medium text-gray-700">Event Image</label>
                                <input type="file" id="EVENT_IMAGE" name="EVENT_IMAGE" accept="image/*" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <div>
                                    <label for="REGISTRATION_DEADLINE" class="block text-sm font-medium text-gray-700">Registration Deadline</label>
                                    <input type="datetime-local" id="REGISTRATION_DEADLINE" name="REGISTRATION_DEADLINE" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                </div>
                            </div>
                            

                            <div>
                                <label for="CONTACT_PERSON" class="block text-sm font-medium text-gray-700">Contact Person</label>
                                <input type="text" id="CONTACT_PERSON" name="CONTACT_PERSON" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>

                            <div>
                                <label for="CONTACT_PHONE" class="block text-sm font-medium text-gray-700">Contact Number</label>
                                <input type="tel" id="CONTACT_PHONE" name="CONTACT_PHONE" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>
                        
                        <!-- Map Div -->
                        <div id="map"></div>

                        <div class="flex justify-end space-x-2 mt-4">
                            <button type="button" id="closeModalBtn" class="px-4 py-2 bg-gray-200 text-gray-800 text-base font-medium rounded-md shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300">
                                Cancel
                            </button>
                            <button type="submit" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                                Create Event
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script async defer
    src="https://maps.gomaps.pro/maps/api/js?key=AlzaSyef6CPA3-afJ7oMBYtfOg9ZQn1duKLOF7&libraries=geometry,places&callback=initMap">
    </script>

    <script>
        // map 
        let map;
    let autocomplete;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 10.3157, lng: 123.8854 }, // Cebu City, Philippines
            zoom: 13
        });

        const input = document.getElementById('EVENT_LOCATION');
        autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        autocomplete.addListener('place_changed', () => {
            const place = autocomplete.getPlace();
            if (!place.geometry) return;

            map.setCenter(place.geometry.location);
            map.setZoom(17);

            new google.maps.Marker({
                position: place.geometry.location,
                map: map
            });
        });
    }


        // Modal functionality
        const modal = document.getElementById('eventModal');
        const openModalBtn = document.getElementById('openModalBtn');
        const closeModalBtn = document.getElementById('closeModalBtn');

        openModalBtn.onclick = function() {
            modal.classList.remove('hidden');
        }

        closeModalBtn.onclick = function() {
            modal.classList.add('hidden');
        }
        

        // date validation
        document.addEventListener("DOMContentLoaded", function () {
            const eventDateStart = document.getElementById("eventDateStart");
            const eventDateEnd = document.getElementById("eventDateEnd");
            const registrationDeadline = document.getElementById("REGISTRATION_DEADLINE");
    
            // Set Start Date minimum to the current date and time
            const now = new Date();
            const minDateTime = now.toISOString().slice(0, 16); // format to 'YYYY-MM-DDTHH:MM'
            eventDateStart.min = minDateTime;
    
            // Update End Date minimum whenever Start Date is changed
            eventDateStart.addEventListener("change", function () {
                eventDateEnd.min = eventDateStart.value; // Set End Date min to Start Date
    
                // Clear End Date if it's before the new Start Date
                if (eventDateEnd.value && eventDateEnd.value < eventDateStart.value) {
                    eventDateEnd.value = "";
                }
    
                // Update Registration Deadline max to be strictly before Start Date
                registrationDeadline.max = new Date(new Date(eventDateStart.value).getTime() - 1000).toISOString().slice(0, 16); // Subtract 1 second from the Start Date
                // Clear Registration Deadline if it's not before the new Start Date
                if (registrationDeadline.value && registrationDeadline.value >= eventDateStart.value) {
                    registrationDeadline.value = "";
                }
            });
    
            // Disable End Date and Registration Deadline until a Start Date is selected
            eventDateEnd.disabled = true;
            registrationDeadline.disabled = true;
    
            // Enable End Date and Registration Deadline after Start Date is chosen
            eventDateStart.addEventListener("input", function () {
                if (eventDateStart.value) {
                    eventDateEnd.disabled = false;
                    registrationDeadline.disabled = false;
                } else {
                    eventDateEnd.disabled = true;
                    registrationDeadline.disabled = true;
                }
            });
        });


        //form validation
        document.getElementById('eventForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission
            let valid = true;
            const requiredFields = ['EVENT_NAME', 'EVENT_LOCATION', 'EVENT_DATE_START', 'EVENT_DATE_END', 'SPORT', 'NUMBER_OF_TEAMS', 'PLAYERS_PER_TEAM'];
        
            requiredFields.forEach(fieldId => {
                const field = document.getElementById(fieldId);
                if (!field.value.trim()) {
                    valid = false;
                    field.classList.add('border-red-500');
                } else {
                    field.classList.remove('border-red-500');
                }
            });
        
            if (valid) {
                // Proceed with form submission logic, e.g., AJAX submission
                console.log("Form is valid. Submitting...");
                modal.classList.add('hidden'); // Hide modal after submission if desired
            } else {
                alert("Please fill out all required fields.");
            }
        });


        document.getElementById('eventForm').addEventListener('submit', function(e) {
            e.preventDefault();
        
            // Collect form data
            var eventName = document.getElementById('EVENT_NAME').value;
            var eventLocation = document.getElementById('EVENT_LOCATION').value;
            var eventDateStart = document.getElementById('eventDateStart').value;
            var eventDateEnd = document.getElementById('eventDateEnd').value;
            var registrationDeadline = document.getElementById('REGISTRATION_DEADLINE').value;
            var sportSelect = document.getElementById('SPORT');
            var selectedSports = Array.from(sportSelect.selectedOptions).map(option => option.value);
            console.log('Selected Sports:', selectedSports); // Debugging output
            var eventImage = document.getElementById('EVENT_IMAGE').files[0]; // Get the image file
            var contactPerson = document.getElementById('CONTACT_PERSON').value;
            var contactPhone = document.getElementById('CONTACT_PHONE').value;
        
            // Create a FormData object to handle file uploads and other form data
            var formData = new FormData();
            formData.append('EVENT_NAME', eventName);
            formData.append('EVENT_LOCATION', eventLocation);
            formData.append('EVENT_DATE_START', eventDateStart);
            formData.append('EVENT_DATE_END', eventDateEnd);
            formData.append('REGISTRATION_DEADLINE', registrationDeadline);
        
            // Append each selected sport individually
            selectedSports.forEach(sportId => {
                formData.append('SPORT', sportId); // Append each sport ID separately
            });
        
            if (eventImage) {
                formData.append('EVENT_IMAGE', eventImage); // Only append if there's an image
            }
            formData.append('CONTACT_PERSON', contactPerson);
            formData.append('CONTACT_PHONE', contactPhone);
        
            // Post form data via fetch
            fetch('/create-event/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = `/event-details/${data.event_id}/`;
                    
              
                } else {
                    alert('Error creating event: ' + data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        });
        

        // token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if this cookie string begins with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        
    </script>
</body>
</html>