<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200 flex items-center justify-center min-h-screen">
    
    <div class="bg-gray-300 border border-blue-400 rounded-lg p-10 w-full max-w-6xl mx-auto">
        <div class="float-right">
        </div>
        <a href="{% url 'edit_match' match_id=match.id %}  " class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
            Edit Match
        </a>
        <div class="flex justify-between items-center mb-8">
            <!-- Team A Logo (left) -->
            <div class="w-24 h-24 rounded-full overflow-hidden mr-6">
                <img src="{{ Team_A.TEAM_LOGO.url }}" alt="{{ Team_A.TEAM_NAME }} Logo" class="w-full h-full object-cover">
            </div>
        
            <!-- Scores and VS Text (centered) -->
            <div class="flex items-center space-x-6">
                <span class="text-5xl font-bold text-blue-600">{% if match.score_team_a %}{{match.score_team_a}}{% else %}0{% endif %}</span>
                <span class="text-4xl mx-4">VS</span>
                <span class="text-5xl font-bold text-red-600">{% if match.score_team_b %}{{match.score_team_b}}{% else %}0{% endif %}</span>
            </div>
        
            <!-- Team B Logo (right) -->
            <div class="w-24 h-24 rounded-full overflow-hidden ml-6">
                <img src="{{ Team_B.TEAM_LOGO.url }}" alt="{{ Team_B.TEAM_NAME }} Logo" class="w-full h-full object-cover">
            </div>
        </div>
        
        <div class="grid grid-cols-2 gap-8">
            <!-- Team A -->
            <div>   
                <h2 class="text-2xl font-bold mb-6">{{Team_A.TEAM_NAME}}</h2>
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="text-lg text-gray-600 border-b">
                            <th class="py-3">Player</th>
                            {% if sport == 'basketball' %}
                                <th class="py-3">PTS</th>
                                <th class="py-3">REB</th>
                                <th class="py-3">AST</th>
                                <th class="py-3">BLK</th>
                                <th class="py-3">STL</th>
                                <th class="py-3">TO</th>
                                <th class="py-3">3PM</th>
                                <th class="py-3">FTM</th>
                            {% elif sport == 'volleyball' %}
                                <th class="py-3">K</th>
                                <th class="py-3">BLK</th>
                                <th class="py-3">BS</th>
                                <th class="py-3">D</th>
                                <th class="py-3">SA</th>
                                <th class="py-3">AE</th>
                                <th class="py-3">RE</th>
                                <th class="py-3">A</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="text-center text-lg">
                        <!-- Repeat this row for each player -->
                        {% for player, stats in zipped_team_a %}
                        <tr class="border-b cursor-pointer" onclick="window.location='{% url 'edit_player_stats' stats_id=stats.id sport_name=sport match_id=match.id%}'">
                            <td class="py-3 flex items-center space-x-3 justify-start">
                                <div class="w-10 h-10 rounded-full overflow-hidden">
                                    <img src="{{ player.USER_ID.profile.image.url }}" alt="Profile Image" class="w-full h-full object-cover">
                                </div>
                                <span>{{ player.USER_ID }}</span>
                            </td>
                            
                            {% if sport == 'basketball' %}
                                <td>{{ stats.points }}</td>
                                <td>{{ stats.rebounds }}</td>
                                <td>{{ stats.assists }}</td>
                                <td>{{ stats.blocks }}</td>
                                <td>{{ stats.steals }}</td>
                                <td>{{ stats.turnovers }}</td>
                                <td>{{ stats.three_pointers_made }}</td>
                                <td>{{ stats.free_throws_made }}</td>
                            {% elif sport == 'volleyball' %}
                                <td>{{ stats.kills }}</td>
                                <td>{{ stats.blocks }}</td>
                                <td>{{ stats.blocks_score }}</td>
                                <td>{{ stats.digs }}</td>
                                <td>{{ stats.service_aces }}</td>
                                <td>{{ stats.attack_errors }}</td>
                                <td>{{ stats.reception_errors }}</td>
                                <td>{{ stats.assists }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <!-- Team B -->
            <div>
                <h2 class="text-2xl font-bold mb-6 text-right">{{Team_B.TEAM_NAME}}</h2>
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="text-lg text-gray-600 border-b">
                            
                            {% if sport == 'basketball' %}
                                <th class="py-3">PTS</th>
                                <th class="py-3">REB</th>
                                <th class="py-3">AST</th>
                                <th class="py-3">BLK</th>
                                <th class="py-3">STL</th>
                                <th class="py-3">TO</th>
                                <th class="py-3">3PM</th>
                                <th class="py-3">FTM</th>
                            {% elif sport == 'volleyball' %}
                                <th class="py-3">K</th>
                                <th class="py-3">BLK</th>
                                <th class="py-3">BS</th>
                                <th class="py-3">D</th>
                                <th class="py-3">SA</th>
                                <th class="py-3">AE</th>
                                <th class="py-3">RE</th>
                                <th class="py-3">A</th>
                            {% endif %}
                            <th class="py-3">Player</th>
                        </tr>
                    </thead>
                    <tbody class="text-center text-lg">
                        {% for player, stats in zipped_team_b %}
                        <tr class="border-b cursor-pointer" onclick="window.location='{% url 'edit_player_stats' stats_id=stats.id sport_name=sport match_id=match.id%}'">
                            {% if sport == 'basketball' %}
                                <td>{{ stats.points }}</td>
                                <td>{{ stats.rebounds }}</td>
                                <td>{{ stats.assists }}</td>
                                <td>{{ stats.blocks }}</td>
                                <td>{{ stats.steals }}</td>
                                <td>{{ stats.turnovers }}</td>
                                <td>{{ stats.three_pointers_made }}</td>
                                <td>{{ stats.free_throws_made }}</td>
                            {% elif sport == 'volleyball' %}
                                <td>{{ stats.kills }}</td>
                                <td>{{ stats.blocks }}</td>
                                <td>{{ stats.blocks_score }}</td>
                                <td>{{ stats.digs }}</td>
                                <td>{{ stats.service_aces }}</td>
                                <td>{{ stats.attack_errors }}</td>
                                <td>{{ stats.reception_errors }}</td>
                                <td>{{ stats.assists }}</td>
                            {% endif %}
                            <td class="py-3 flex items-center space-x-3 justify-end">
                                <span>{{ player.USER_ID }}</span>
                                <div class="w-10 h-10 rounded-full overflow-hidden">
                                    <img src="{{ player.USER_ID.profile.image.url }}" alt="Profile Image" class="w-full h-full object-cover">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Back Button -->
        <div class="mt-8 text-center">
            <a href="{% url 'get_bracket_data' sport_details_id=match.sport_details.id %}" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">Back</a>
        </div>
    </div>



    <!-- Modal -->
    <div id="matchModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 overflow-y-auto h-full w-full hidden z-50 top-15">
        <div class="relative bg-white rounded-lg shadow-xl max-w-md w-full p-6">
            <div class="mt-3">
                <h2 class="text-2xl font-bold mb-4 text-center text-gray-800">Edit Match</h2>
                <form id="editMatchForm" class="space-y-4" action=" 'edit_match' match_id=match.id " method="post">
                    {% csrf_token %}
                    <div>
                        <label for="round" class="block text-sm font-medium text-gray-700">Round</label>
                        <select id="round" name="round" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" required>
                            <option value="First Round" {% if match.round == 'First Round' %}selected{% endif %}>First Round</option>
                            <option value="Quarter-finals" {% if match.round == 'Quarter-finals' %}selected{% endif %}>Quarter-finals</option>
                            <option value="Semi-finals" {% if match.round == 'Semi-finals' %}selected{% endif %}>Semi-finals</option>
                            <option value="Finals" {% if match.round == 'Finals' %}selected{% endif %}>Finals</option>
                            <option value="Grand finals" {% if match.round == 'Grand finals' %}selected{% endif %}>Grand finals</option>
                        </select>
                    </div>
                    <div>
                        <label for="bracket" class="block text-sm font-medium text-gray-700">Bracket</label>
                        <select id="bracket" name="bracket" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" required>
                            <option value="Upper Bracket" {% if match.bracket == 'Upper Bracket' %}selected{% endif %}>Upper Bracket</option>
                            <option value="Lower Bracket" {% if match.bracket == 'Lower Bracket' %}selected{% endif %}>Lower Bracket</option>
                        </select>
                    </div>
                    <div class="flex items-center space-x-4">
                        <div class="flex-1">
                            <label for="teamA" class="block text-sm font-medium text-gray-700">Team A</label>
                            <select id="teamA" name="teamA" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" required>
                                {% for team in teams %}
                                    <option value="{{ team.id }}" {% if team.id == match.teamA.id %}selected{% endif %}>{{ team.TEAM_NAME }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-2xl font-bold text-gray-700">VS</div>
                        <div class="flex-1">
                            <label for="teamB" class="block text-sm font-medium text-gray-700">Team B</label>
                            <select id="teamB" name="teamB" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" required>
                                {% for team in teams %}
                                    <option value="{{ team.id }}" {% if team.id == match.teamB.id %}selected{% endif %}>{{ team.TEAM_NAME }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="dateTime" class="block text-sm font-medium text-gray-700">Date and Time</label>
                        <input type="datetime-local" id="dateTime" name="dateTime" value="{{ match.dateTime|date:'Y-m-d\TH:i' }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" required>
                    </div>
                    <div class="mt-6">
                        <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const editButton = document.getElementById('editMatchButton');
        const modal = document.getElementById('matchModal');
    
        editButton.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });
    
        modal.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.classList.add('hidden');
            }
        });
    </script>
</body>
</html>
